 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

#nav_menu ul {
    list-style-type: none;
    padding: 1em 0;
    text-align: center;
    
}

#nav_menu ul li {
    display: inline !important;
    padding: 0 1.5em;
    font-family: "cairo", sans-serif;
    font-weight: 50;
    
}

#nav_menu ul li a {
    font-weight: bold;
    color: gray;
    text-decoration: none;
}

#nav_menu ul li a.current {
    text-decoration: none;
}

a:hover {
    font-style: italic;
    color: green;
}

.headerimg {
    float: left;
    margin-left: 1.5em;
}

header {
    background-color: #000000;
    border-bottom: 1px solid #44D62C;
}

h1  {
    font-family: "roboto", sans-serif;
    color: #44D62C;
    text-align: center;
    padding-top: .5em;
}

html {
    background-color: black;
}

h2 {
    font-family: "roboto", sans-serif;
    color: #44D62C;
    padding-top: .5em;
}

h3 {
    font-family: "roboto", sans-serif;
    color: #44D62C;
    padding-top: .5em; 
}

.quote {
    font-family: "roboto", sans-serif;
    color: gray;
    padding-top: .5em;
}

.pdctimg {
    border: 2px solid #44D62C;
    border-radius: 15px;
    float: right;
}

.productintro {
    width: 97%;
    border-bottom: 1px solid #44D62C;
    color: gray;
    float: left;
    padding: .5em;
    font-family: "roboto", sans-serif;
    padding-left: 1.5em;
}

.float {
    float: left;
}

.spacing {
    padding: .35em;
}

.img1 {
    float: left;
    width: 10%;
    margin-right: 30px;
    padding: .5em;
    border: 2px solid #44D62C;
    border-radius: 20px;
    margin-top: 15px;
    width: 30%;
}
.img2 {
    float: left;
    width: 10%;
    margin-right: 30px;
    padding: .5em;
    border: 2px solid #44D62C;
    border-radius: 20px;
    margin-top: 15px;
    width: 30%;
}
.img3 {
    float: left;
    width: 10%;
    margin-right: 30px;
    padding: .5em;
    border: 2px solid #44D62C;
    border-radius: 20px;
    margin-top: 15px;
    width: 30%;
}

.clr {
    clear: both;
}

.keyfeatures {
    width: 97%;
    border-bottom: 1px solid #44D62C;
    color: gray;
    float: left;
    padding: .5em;
    font-family: "roboto", sans-serif;
    padding-left: 1.5em;
}