/************ UNIVERSAL STYLES ************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

/*************** NAV BAR AND HEADER STYLES **************/
#nav_menu ul {
    list-style-type: none;
    padding: 1em 0;
    text-align: center;
    
}

#nav_menu ul li {
    display: inline !important;
    padding: 0 1.5em;
    font-family: "cairo", sans-serif;
    font-weight: 50;
    
}

#nav_menu ul li a {
    font-weight: bold;
    color: gray;
    text-decoration: none;
}

#nav_menu ul li a.current {
    text-decoration: none;
}

a:hover {
    font-style: italic;
    color: green;
}


/********* TYPE SELECTOR STYLES ************/
header {
    background-color: #000000;
    border-bottom: 1px solid #44D62C;
}

h1  {
    font-family: "roboto", sans-serif;
    color: #44D62C;
    text-align: center;
    padding-top: .5em;
}

a {
    color: darkgray;
}

html {
    background-color: black;
}

h2 {
    font-family: "roboto", sans-serif;
    color: #44D62C;
    padding-top: .5em;
}

h3 {
    font-family: "roboto", sans-serif;
    color: #44D62C;
    padding-top: .5em; 
}

i {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

footer {
    color: #808080;
    font-family: "roboto", sans-serif;
    border-top: 1px solid #44D62C;
    font-weight: 900;
}

/*********** CLASS SELECTORS **************/

/* Styles the quote */
.quote {
    font-family: "roboto", sans-serif;
    color: gray;
    padding-top: .5em;
}
/* Styles the logo in the header */
.headerimg {
    float: left;
    margin-left: 1.5em;
}

/* Styles the product image */
.pdctimg {
    border: 2px solid #44D62C;
    border-radius: 15px;
    float: right;
}

/* Styles the product intro section */
.productintro {
    width: 97%;
    border-bottom: 1px solid #44D62C;
    color: gray;
    float: left;
    padding: .5em;
    font-family: "roboto", sans-serif;
    padding-left: 1.5em;
}

/* Floats specific elements to the left */
.float {
    float: left;
}

/* Adds padding to specific elements */
.spacing {
    padding: .35em;
}

/* Styles image 1 */
.img1 {
    float: left;
    margin-right: 30px;
    padding: .5em;
    border: 2px inset #44D62C;
    border-radius: 20px;
    margin-top: 15px;
    width: 30%;
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: "roboto", sans-serif;
}

/* Styles image 2 */
.img2 {
    float: left;
    margin-right: 30px;
    padding: .5em;
    border: 2px inset #44D62C;
    border-radius: 20px;
    margin-top: 15px;
    width: 30%;
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: "roboto", sans-serif;
}

/* Styles image 3 */
.img3 {
    float: left;
    margin-right: 30px;
    padding: .5em;
    border: 2px inset #44D62C;
    border-radius: 20px;
    margin-top: 15px;
    width: 30%;
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: "roboto", sans-serif;
}
/* Clears float on specific elements */
.clr {
    clear: both;
}

/* Styles the key features section */
.keyfeatures {
    width: 97%;
    border-bottom: 1px solid #44D62C;
    color: gray;
    float: left;
    padding: .5em;
    font-family: "roboto", sans-serif;
    padding-left: 1.5em;
    
}

/* Styles the social media section */
.socials {
    clear: both;
    padding: .7em;
    color: gray;
    font-family: "roboto", sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;

}

/* Adds padding to specific elements */
.pad {
    padding: .5em;
}

/* Changes the font of the price class */
.price {
    font-family: "roboto", sans-serif;
}

/********* FORM STYLES ************/
form {
    font-family: "roboto", sans-serif;
    margin-top: 10px;
    border-top: 1px solid #44D62C;
  }
  
  .newsletter {
    padding: 20px;
    background-color: black;
  }
  
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #44D62C;
    box-sizing: border-box;
  }
  
  input[type=checkbox] {
    margin-top: 16px;
  }
  
  input[type=submit] {
    background-color: #44D62C;
    color: white;
    border: none;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
    cursor: pointer;
  }